@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url(/fonts/'ptsans.woff2') format('woff2'), url('/fonts/ptsans.woff') format('woff'), url('/fonts/ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('/fonts/opensanscondensedbold.woff2') format('woff2'), url('/fonts/opensanscondensedbold.woff') format('woff'), url('/fonts/opensanscondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body, h1, h2, h3, h4, ul, li, figure, figcaption { margin: 0; padding: 0; }
body { max-width: 425px; margin: 0 auto; position: relative; font-family: 'PT Sans', sans-serif; color: #333; }
#menu, #category, #pages, #copyright, h1, h2, h3, .notice a, #subscribe .submit, #gallery a {
  font-family: 'Open Sans Condensed', sans-serif; font-weight: bold;}
#header { background-image: url(/img/hero.jpg); background-position: top left; background-repeat: no-repeat; background-size: contain; }
@media screen and (min-width:426px) {
  #header { height: 400px; }
}
#menu { display: flex; padding-top: 8px; width: 100%; }
.address { align-items: center; background-color: #f0f0f0; border-bottom-left-radius: 24px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-top-left-radius: 24px; border-top: 1px solid #ccc; box-sizing: border-box; display: flex; height: 47px; margin-left: auto; color: #ccc; font-style: normal; }
.address>a { color: #333; display: flex; flex-direction: column; font-weight: 700; height: 47px; justify-content: center; line-height: 47px; text-align: center; text-decoration: none; padding-left: 8px; padding-right: 8px; }
.address>a:first-child { padding-left: 16px; }
#sidebar { position: absolute; width: 100%; top: 0; height: 100vh; z-index: 4; overflow: hidden; visibility: hidden; max-width: 520px; }
#sidebar.is-open { visibility: visible; }
#hamburger { cursor: pointer; align-items: center; background-color: #fff; border-radius: 50%; height: 47px; justify-content: center; margin-left: 8px; position: relative; width: 47px; z-index: 9999; padding: 1rem; box-sizing: border-box; display: flex; box-shadow: 0 12px 24px 0 rgba(33, 33, 33, .33); outline: none; border: 0; }
#hamburger >span { position: absolute; flex: none; width: 1rem; height: 2px; background-color: #333; transition: all .4s ease; display: flex; align-items: center; justify-content: center; }
#hamburger >span:before, #hamburger >span:after { content: ''; position: absolute; z-index: 1; transform: translateY(-6px); left: 0; width: 100%; height: 2px; background: inherit; transition: all 0.4s ease; }
#hamburger >span:after { transform: translateY(6px); }
#sidebar.is-open #hamburger { }
#sidebar.is-open + #hamburger>span { transform: rotate(135deg); }
#sidebar.is-open + #hamburger>span:before, #sidebar.is-open + #hamburger>span:after { transform: translateY(0px); transform: rotate(90deg); }
#sidebar.is-open + #hamburger>span:after { opacity: 0; }
#background { position: absolute; top: 8px; left: 8px; background-color: #27AE60; height: 47px; width: 47px; border-radius: 50%; transition: 200ms ease; will-change: transform; transform: scale(1); z-index: 3; }
#sidebar.is-open #background { transform: scale(20); }
#sitemap { margin: 0 auto; width: 100%; padding-top: 100px; padding-left: 50px; padding-right: 25px; position: relative; z-index: 44; box-sizing: border-box; }
.page { display: block; padding: 20px 0; color: #fff; opacity: 0; transition: all 200ms ease; transform: translateX(-20px); }
#sidebar.is-open .page { opacity: 1; transform: translateX(0px); }
#pages { margin-top: 100px; }
#pages>ul { display: flex; margin-left: 8px; }
#pages>ul>li { list-style-type: none; margin-right: 1px; }
#pages>ul>li:first-child>a { border-top-left-radius: 4px; }
#pages>ul>li:last-child>a { border-top-right-radius: 4px; }
#pages .page-link { border-top: 1px solid #999; border-left: 1px solid #999; border-right: 1px solid #999; display: block; font-weight: bold; text-decoration: none; line-height: 1.2; color: #f1f1f1; position: relative; background: linear-gradient(180deg, #607D8B 0%, #607D8B 95%, #555 100%); padding: 8px; }
#pages .page-link.is-active { z-index: 2; background: linear-gradient(180deg, #4499CD 0%, #64AAD6 100%); box-shadow: 4px 0px 10px rgba(0, 0, 0, .25), -4px 0px 10px rgba(0, 0, 0, .25); }

/*#tabs*/
#services { padding: 0px 0; position: relative; background-color: #fff; z-index: 3; }

/*services*/
#l-carousel { position: relative; background: linear-gradient(180deg, #64AAD6 0%, #FFFFFF 100%); display: flex; flex-wrap: nowrap; overflow-x: auto; padding: 8px 0; margin: 0; }
.service-card { flex: 0 0 auto; list-style-type: none; margin-left: 8px; width: 40%; min-width: 120px; max-width: 200px; text-decoration: none; border-radius: 4px; position: relative; }
.service-card>figure { position: relative; height: 0; padding-top: 75%; }
.service-card>a { position: absolute; width: 100%; height: 100%; top: 0; }
.service-card>figure>img { position: absolute; top: 0; width: 100%; border-radius: 4px; border: 1px solid #ccc; }
.service-card>figure>figcaption { position: absolute; bottom: 0; color: #f1f1f1; left: 8px; bottom: 8px; font-weight: bold; line-height: 1; }
.container { padding: 0 8px; }
#main { }
#footer { background-color: #333; color: #fff; margin-top: 1rem;}
#footer a { text-decoration: none; color: inherit; }
#category { display: flex; flex-wrap: wrap; }
.l-col-50 { flex: 0 0 50%; width: 50%; box-sizing: border-box; }
#footer a.btn { height: 64px; display: flex; background-color: #444; text-align: center; font-weight: bold; border: 1px solid #555; }
#footer a.btn>span { max-width: 100px; margin: auto; }
#footer address { font-size: 1.1rem; margin-top: 1rem; }
#copyright { margin-top: 1rem; border: 1px solid #555; font-weight: bold; height: 47px; line-height: 47px; text-align: center; }

/*#main*/
#intro h1 { font-size: 1.2rem; text-transform: uppercase; line-height: 1; margin-top: .5rem; }
#intro span { font-style: italic; font-size: .9rem; }
#intro p { }
#about { margin-top: 1rem; }

/*#infobox*/
.messagebox { width: 100%; display: flex; }
.messagebox .iconbox { color: #fff; flex: 0 0 64px; width: 64px; height: auto; display: flex; }
.messagebox.info .iconbox { background-color: #64AAD6; }
.messagebox.warning .iconbox { background-color: #F2C94C; }
.messagebox.check .iconbox { background-color: #27AE60; }
.messagebox .iconbox>i { margin: auto; }
.messagebox.info .text { background-color: #64aad657; }
.messagebox.warning .text { background-color: #f2c94c6e; }
.messagebox.check .text { background-color: #27AE6066; }
.messagebox .text>span { padding: 8px; display: block; font-style: italic; }
#facts { margin: 1rem 0; }
#facts ul { padding-left: 1rem; list-style-type: square; }
#facts ul li { margin-bottom: .5rem; color: #64AAD6; }
#facts ul li>span { color: #333; }
.brands { margin: 1rem 0; padding: .5rem 0; background-color: #666; display: flex; }
.brands img { width: 33%; }
.notice a { display: inline-block; color: #0070b8; font-weight: bold; }
.notice a:after, #gallery a:after {
  display: inline-block;
  content: '';
  margin-left: 8px;
  vertical-align: -.125em;
  height: 1em;
  width: 1em;
  background-size: 1rem 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%230070b8' d='M544 0h-.056l-96.167.167c-28.442.049-42.66 34.539-22.572 54.627l35.272 35.272L163.515 387.03c-4.686 4.686-4.686 12.284 0 16.97l8.484 8.485c4.687 4.686 12.285 4.686 16.971 0l296.964-296.964 35.272 35.272c20.023 20.023 54.578 5.98 54.627-22.572L576 32.055C576.03 14.353 561.675 0 544 0zm-.167 128.167l-96-96L544 32l-.167 96.167zM448 227.681V464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h323.976c3.183 0 6.235 1.264 8.485 3.515l8 8c7.56 7.56 2.206 20.485-8.485 20.485H48c-8.837 0-16 7.163-16 16v352c0 8.837 7.163 16 16 16h352c8.837 0 16-7.163 16-16V235.68c0-3.183 1.264-6.235 3.515-8.485l8-8c7.559-7.559 20.485-2.205 20.485 8.486z'/%3E%3C/svg%3E");
}
i.info {
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-36 344h12V232h-12c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h48c6.627 0 12 5.373 12 12v140h12c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12h-72c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12zm36-240c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-size: 2rem 2rem;
}
i.warning {
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' %3E%3Cpath fill='%23fff' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.054-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.952 83.154 0l239.94 416.028zm-27.658 15.991l-240-416c-6.16-10.678-21.583-10.634-27.718 0l-240 416C27.983 466.678 35.731 480 48 480h480c12.323 0 19.99-13.369 13.859-23.996zM288 372c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28zm-11.49-212h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM288 372c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-size: 2rem 2rem;
}
i.check {
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-size: 2rem 2rem;
}
#community h2 { font-size: 1.1rem; text-transform: uppercase; }
#vk-widget {
  margin: 1em 0;
}
#subscribe { background: repeating-linear-gradient(45deg, #fff 0px, #fff 10px, #64AAD6 10px, #64AAD6 20px, #fff 20px, #fff 30px, #F2C94C 30px, #F2C94C 40px); padding: 8px; }
#subscribe form { background-color: #fff; padding: .5rem; display: flex; align-items: center; }
#subscribe .email { height: 32px; width: 100%; border-right-width: 0; border: 1px solid #ccc; border-radius: 4px; padding-left: .5rem; font-size: 1rem; color: #666; margin-right: 4px; }
#subscribe .submit { height: 47px; background-color: #0070b8; color: #fff; border: 0; border-radius: 4px; min-width: 100px; text-transform: uppercase; font-weight: bold;}

#events h2 {text-transform: uppercase; font-size: 1.1rem;  margin: 1em 0;}
#gallery h2 {text-transform: uppercase; font-size: 1.1rem; margin: 1em 0;}

#gallery a{
  display: block;
  color: #0070b8;
  font-weight: bold;
  text-align: right;
}

.l-carousel {
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
}

.gallery-card {
display: inline-block;
list-style-type: none;
margin-left: 8px;
width: 40%;
min-width: 120px;
max-width: 200px;
text-decoration: none;
border-radius: 4px;
}

.gallery-card>figure{
  position: relative;
  padding-bottom: 125%;
  background-color: #ccc;
}

.gallery-card .photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


